{% load staticfiles %}
﻿<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Basic page information -->
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Clas-design">
  <title>Napoca - Responsive Blog Theme</title>

  <!-- Fav Icon -->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

  <!-- Custom Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,600" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <!-- Bootstrap CSS Style -->
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

  <!-- Template CSS Style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- FontAwesome 4.3.0 Icons  -->
  <link rel="stylesheet" href="{% static 'css/font-awesome-4.3/css/font-awesome.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}">
  <!-- Pixeden Stroke Icons  -->

  <!-- BXslider CSS  -->
  <link rel="stylesheet" href="{% static 'css/bxslider/jquery.bxslider.css' %}">

  <!-- Owl Carousel CSS Style -->
  <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.transitions.css' %}">

    <!-- Flexslider CSS  -->
  <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">

  <!-- magnific-popupr CSS  -->
  <link rel="stylesheet" href="{% static 'css/magnific-popup/magnific-popup.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

  <div id="wrapper">

  <!-- Hero fullscreen image
  ================================================== -->
    <section>
      <div id="hero-fullscreen-bg">
          <div class="hero-content text-center">
            <div class="container">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                  <div class="hero-text">
                  <h1 class="hero-title">Lifestyle Blog</h1>
                  <h2 class="hero-description">quibusdam placeat cumque dolorum</h2>
                  </div>
                </div> <!-- end col-sm-6 -->
              </div> <!-- end row -->
            </div> <!-- end container -->
          </div> <!-- end hero-content -->
      </div>
    </section>
   <!--  end hero-fullscreen-image -->

    <!-- Navbar
    ================================================== -->
    <header class="header clearfix">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        <!-- Brand and toggle get grouped for better mobile display -->
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navigation-nav">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-hover="dropdown" data-delay="100" data-close-others="false">Home<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="index.html">Standard Blog</a></li>
                <li><a href="index-carousel.html">Standard with Carousel</a></li>
                <li><a href="index-left-sidebar.html">Standard left sidebar</a></li>
                <li><a href="index-no-sidebar.html">Standard No Sidebar</a></li>
                <li><a href="masonry-blog.html">Masonry</a></li>
                <li><a href="masonry-blog-carousel.html">Masonry with Carousel</a></li>
                <li><a href="masonry-left-sidebar.html">Masonry left sidebar</a></li>
                <li><a href="masonry-no-sidebar.html">Masonry no sidebar</a></li>
                <li><a href="masonry-big-first-post.html">Masonry Big first post</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-hover="dropdown" data-delay="100" data-close-others="false">Headings<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="index-full-hero.html">Standard Fullscreen hero</a></li>
                  <li><a href="index-boxed-hero.html">Standard Boxed Hero</a></li>
                  <li><a href="index-slider.html">Standard with Slider</a></li>
                  <li><a href="index-slider-2.html">Standard with Slider 2</a></li>
                  <li><a href="masonry-no-sidebar-full-hero.html">Masonry Fullscreen hero</a></li>
                  <li><a href="masonry-no-sidebar-boxed-hero.html">Masonry Boxed hero</a></li>
                  <li><a href="masonry-no-sidebar-slider.html">Masonry with Slider</a></li>
                  <li><a href="masonry-no-sidebar-slider-2.html">Masonry with Slider 2</a></li>
                  <li><a href="masonry-big-first-post-full-hero.html">Big first post Fullscreen hero</a></li>
                  <li><a href="masonry-big-first-post-boxed-hero.html">Big first post Boxed hero</a></li>
                  <li><a href="masonry-big-first-post-slider.html">Big first post with Slider</a></li>
                  <li><a href="masonry-big-first-post-slider2.html">Big first post with Slider 2</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-hover="dropdown" data-delay="100" data-close-others="false">Posts<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="post-full-width.html">Full width post</a></li>
                  <li><a href="post-with-image.html">Post with image</a></li>
                  <li><a href="post-with-slider.html">Post with Slider</a></li>
                  <li><a href="post-with-video.html">Post with video</a></li>
                </ul>
              </li>
              <li><a href="lifestyle.html">Lifestyle</a></li>
              <li><a href="travel.html">Travel</a></li>
              <li><a href="video.html">Video</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-hover="dropdown" data-delay="100" data-close-others="false">Works<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="portfolio.html">Portfolio V1</a></li>
                  <li><a href="portfolio-2.html">Portfolio V2</a></li>
                  <li><a href="Single-project.html">Single project 1</a></li>
                  <li><a href="single-project-video.html">Single project 2</a></li>
                  <li><a href="single-project-slider.html">Single project 3</a></li>
                </ul>
              </li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
            <!-- search -->
            <ul class="nav navbar-nav navbar-right">
                <li class="search drop"><a href="#" class="open-search"><i class="fa fa-search"></i></a>
                  <form class="form-search">
                    <input type="search" placeholder="Search:"/>
                    <button type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </form>
                </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>
    <!-- End Navbar -->

    <!-- Content blog - standard blog (5 posts/page)
    ================================================== -->
    <section>
      <div id="content-blog">
        <div class="container">
          <div class="row">
            <div id="main" class="col-sm-7 col-md-8 col-lg-9">

              <!-- Article -->
              <article class="post white-bg">

                <!-- post-img -->
                <div class="post-img">
                  <a href="post-with-image.html">
                    <img src="{% static 'images/posts/3.jpg' %}" alt="">
                  </a>
                </div> <!-- end post-img -->

                <!-- post header -->
                <div class="post-header">
                  <div class="title-post">
                    <h2><a href="post-with-image.html">My trip to New York</a></h2>
                    <div class="cat"><a href="#" rel="category tag">Travel</a></div>
                    <span class="date"><i class="fa fa-clock-o"></i>August 05,2015</span>
                    <span class="author"><a href="#"><i class="fa fa-user"></i>Claudiu</a></span>
                  </div> <!-- end title post -->
                </div> <!-- end post-header -->

                <!-- post-entry -->
                <div class="post-entry">
                  <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. […]</p>
                  <p class="text-center">
                    <a href="post-with-image.html" class="more">Read more</a>
                  </p>
                </div> <!-- end post-entry -->

                <!-- meta-post -->
                <div class="meta-post">
                  <div class="post-share text-center">
                    <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-comments"></i></a>
                  </div>
                </div> <!-- end meta-post -->
              </article>
              <!-- end article -->

              <!-- Article -->
              <article class="post white-bg">

                <!-- post-img -->
                <div class="post-img post-slider">

                  <!-- Slider -->
                  <ul class="blog-slider">
                       <!-- slide 1 -->
                      <li>
                        <figure>
                          <img src="{% static 'images/posts/5.jpg' %}" alt="image alt">
                        </figure>
                      </li>

                      <!-- slide 2 -->
                      <li>
                        <figure>
                          <img src="{% static 'images/posts/4.jpg' %}" alt="image alt">
                        </figure>
                      </li>

                      <!-- slide 3 -->
                      <li>
                        <figure>
                          <img src="{% static 'images/posts/1.jpg' %}" alt="image alt">
                        </figure>
                      </li>

                  </ul>
                </div> <!-- end post-slider -->

                <!-- post header -->
                <div class="post-header">
                  <div class="title-post">
                    <h2><a href="post-with-slider.html">Summer salad recipe</a></h2>
                  </div> <!-- end title-post -->
                  <div class="cat"><a href="#" rel="category tag">Lifestyle</a></div>
                  <span class="date"><i class="fa fa-clock-o"></i>August 05,2015</span>
                  <span class="author"><a href="#"><i class="fa fa-user"></i>Allen</a></span>
                </div> <!-- end post-header -->

                <!-- post-entry -->
                <div class="post-entry">
                  <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. […]</p>
                  <p class="text-center">
                    <a href="post-with-slider.html" class="more">Read more</a>
                  </p>
                </div> <!-- end post-entry -->

                <!-- meta-post -->
                <div class="meta-post">
                  <div class="post-share text-center">
                    <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-comments"></i></a>
                  </div> <!-- end post-share -->
                </div> <!-- end meta-post -->
              </article>

              <!-- Article -->
              <article class="post white-bg">

                <!-- video -->
                <div class="post-video">
                  <iframe src="https://player.vimeo.com/video/40558553" width="1920" height="1080" title="Fragments of Iceland" allowfullscreen></iframe>
                </div> <!-- end post-video -->

                <!-- post header -->
                <div class="post-header">
                  <div class="title-post">
                    <h2><a href="post-with-video.html">Fragments of Iceland</a></h2>
                    <div class="cat"><a href="#" rel="category tag">Video</a></div>
                    <span class="date"><i class="fa fa-clock-o"></i>August 05,2015</span>
                    <span class="author"><a href="#"><i class="fa fa-user"></i>Curtis Allen</a></span>
                  </div> <!-- end title-post -->
                </div> <!-- end post header -->

                <!-- post-entry -->
                <div class="post-entry">
                  <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. […]</p>
                  <p class="text-center">
                    <a href="post-with-video.html" class="more">Read more</a>
                  </p>
                </div> <!-- end post-entry -->

                <!-- meta-post -->
                <div class="meta-post">
                  <div class="post-share text-center">
                    <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-comments"></i></a>
                  </div> <!-- end post-share -->
                </div> <!-- end meta-post -->
              </article>

              <!-- Article -->
              <article class="post white-bg">

                <!-- post-img -->
                <div class="post-img">
                  <a href="post-with-image.html">
                    <img src="{% static 'images/posts/1.jpg' %}" alt="">
                  </a>
                </div> <!-- post-img -->

                <!-- post header -->
                <div class="post-header">
                  <div class="title-post">
                    <h2><a href="post-with-image.html">Food &amp; Drinks</a></h2>
                    <div class="cat"><a href="#" rel="category tag">Lifestyle</a></div>
                    <span class="date"><i class="fa fa-clock-o"></i>August 05,2015</span>
                    <span class="author"><a href="#"><i class="fa fa-user"></i>Claudiu</a></span>
                  </div> <!-- end title-post -->
                </div> <!-- end post header -->

                <!-- post-entry -->
                <div class="post-entry">
                  <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. […]</p>
                  <p class="text-center">
                    <a href="post-with-image.html" class="more">Read more</a>
                  </p>
                </div> <!-- end post-entry -->

                <!-- meta-post -->
                <div class="meta-post">
                  <div class="post-share text-center">
                    <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-comments"></i></a>
                  </div> <!-- end post-share -->
                </div> <!-- end meta-post -->
              </article>

              <!-- Pagination -->
              <div class="main-nav">
                <div class="pagination pull-right">
                  <a href="index-2.html" class="btn btn-default">Older posts <i class="fa fa-angle-double-right"></i></a>
                </div> <!-- end pagination -->
              </div> <!-- end main-nav -->

            </div>
            <!-- End main -->


            <!-- Sidebar -->
            <div id="sidebar" class="col-sm-5 col-md-4 col-lg-3">

              <!-- About widget -->
              <div class="about-widget widget">

                <div class="widget-heading">
                  <h4>About Me</h4>
                </div> <!-- end widget-heading -->

                <div class="about-widget-img">
                  <img src="{% static 'images/user-avatar.jpg' %}" alt="">
                </div> <!-- end about-widget-img -->

                <p class="about-entry">Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Seitan High Life reprehenderit consectetur cupidatat kogi about me...</p>
              </div> <!-- end about widget -->

              <!-- Follow widget -->
              <div id="social-widget" class="widget">

                <div class="widget-heading">
                  <h4>Follow Me</h4>
                </div><!-- end widget-heading -->

                <ul class="widget-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                  <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a target="_blank" href="#"><i class="fa fa-tumblr"></i></a></li>
                  <li><a target="_blank" href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div> <!-- end social-widget -->

              <!-- Banner widget -->
              <div id="banner-widget" class="widget">
                <div class="banner-w-img">
                  <img src="{% static 'images/bannerwidget.png' %}" alt="banner widget">
                </div> <!-- end banner-img -->
              </div> <!-- end banner-widget -->

              <!-- Subscribe widget -->
              <div id="subscribe-widget" class="widget">
                <div class="widget-heading">
                  <h4>Newsletter</h4>
                </div> <!-- end widget-heading -->

                <div class="subscribe">
                  <form class="subscribtion-form" id="subscribe-form">
                    <!-- Email input -->
                    <div class="form-group newsletter-field">
                      <input type="text" name="Name" class="form-control" id="subscriber-name" placeholder="Your name">
                    </div>
                    <!-- Email input -->
                    <div class="form-group newsletter-field">
                      <input type="email" name="EMAIL" class="form-control" id="subscriber-email" placeholder="jane.doe@example.com">
                    </div>
                    <!-- Subscribe button -->
                    <button type="submit" id="subscribe-button" class="btn btn-sm more">Subscribe</button>
                  </form>
                </div> <!-- end subscribe -->

              </div>
              <!-- end Subscribe widget -->

              <!-- Latest posts -->
              <div id="latest-posts-widget" class="widget">

                <div class="widget-heading">
                  <h4>Latest posts</h4>
                </div> <!-- end widget-heading -->

                <ul class="widget-posts">

                  <!-- post -->
                  <li class="side-post clearfix">
                    <div class="side-img">
                      <a href="#" title="Post Title">
                        <img src="{% static 'images/posts-thumbnail/1-150x150.jpg' %}" alt="" class="widget-posts-img">
                      </a>
                    </div> <!-- end side-img -->
                    <div class="side-post-text">
                      <a href="#" title="">Lifestyle</a>
                      <span class="side-post-date">August 4, 2015</span>
                    </div> <!-- end side-post-text -->
                  </li>

                  <!-- post -->
                  <li class="side-post clearfix">
                    <div class="side-img">
                      <a href="#" title="Post Title">
                        <img src="{% static 'images/posts-thumbnail/2-150x150.jpg' %}" alt="" class="widget-posts-img">
                      </a>
                    </div> <!-- end side-img -->
                    <div class="side-post-text">
                      <a href="#" title="">Summer Salad Recipe</a>
                      <span class="side-post-date">July 28, 2015</span>
                    </div> <!-- end side-post-text -->
                  </li>

                  <!-- post -->
                  <li class="side-post clearfix">
                    <div class="side-img">
                      <a href="#" title="Post Title">
                        <img src="{% static 'images/posts/7.jpg' %}" alt="" class="widget-posts-img">
                      </a>
                    </div> <!-- end side-img -->
                    <div class="side-post-text">
                      <a href="#" title="">My trip to New York</a>
                      <span class="side-post-date">July 12, 2015</span>
                    </div> <!-- end side-post-text -->
                  </li>

                  <!-- post -->
                  <li class="side-post clearfix">
                    <div class="side-img">
                      <a href="#" title="Post Title">
                        <img src="{% static 'images/posts-thumbnail/3-150x150.jpg' %}" alt="" class="widget-posts-img">
                      </a>
                    </div> <!-- end side-img -->
                    <div class="side-post-text">
                      <a href="#" title="">Time and Basketball</a>
                      <span class="side-post-date">July 12, 2015</span>
                    </div> <!-- end side-post-text -->
                  </li>

                </ul>
              </div>
              <!-- End Latest posts -->

              <!-- Tags widget -->
              <div id="tags-widget" class="widget">
                <div class="widget-heading">
                  <h4>Tagscloud</h4>
                </div> <!-- end widget-heading -->
                <div class="tags">
                  <a href="#">Design</a>
                  <a href="#">Portfolio</a>
                  <a href="#">Tag</a>
                  <a href="#">Demo</a>
                  <a href="#">Blog</a>
                  <a href="#">Bootstrap</a>
                  <a href="#">Web</a>
                  <a href="#">Clean</a>
                  <a href="#">Minimal</a>
                </div> <!-- end tag -->
              </div>
              <!-- End Tags widget -->

              <!-- Category widget -->
              <div id="categories-widget" class="widget">
                <div class="widget-heading">
                  <h4>Categories</h4>
                </div> <!-- end widget-heading -->
                <ul class="categories-list">
                  <li><a href="#">Lifestyle</a></li>
                  <li><a href="#">Food &amp; Drink</a></li>
                  <li><a href="#">Travel</a></li>
                  <li><a href="#">Video</a></li>
                  <li><a href="#">Heath &amp; Life</a></li>
                </ul>
              </div>
              <!-- End Category widget -->

              <!-- Instagram widget -->
              <div id="instagram-widget" class="widget">
                <div class="widget-heading">
                  <h4>Instagram</h4>
                </div>
                <div class="photo-instagram">
                  <ul class="photo-list clearfix">
                    <li><a href="#"><img src="{% static 'images/instagram/1.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/instagram/2.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/instagram/3.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/instagram/4.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/instagram/6.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/instagram/5.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/instagram/7.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/instagram/8.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/instagram/9.jpg' %}" alt=""></a></li>
                  </ul>
                </div> <!-- End photo-instagram -->
              </div>
              <!-- End Instagram widget -->

              <!-- Tweet widget -->
              <div class="tweet-widget widget">
                <div class="widget-heading">
                  <h4>Tweets</h4>
                </div> <!-- end widget-heading -->
                <div class="tweet-content text-center">
                  <div class="tweet-box">
                    <span class="tweet-icon"><i class="fa fa-twitter"></i></span>
                  </div> <!-- end tweet-box -->
                  <ul class="tweet-slider">
                    <li>
                      <p>Meh synth Schlitz, tempor duis single-origin coffee ea next. <a href="#">http://goo.gl/1OhxkS</a></p>
                      <small>-  John Doe  23 minutes ago  -</small>
                    </li>
                    <li>
                      <p>Meh synth Schlitz, tempor duis single-origin coffee ea next. <a href="#">http://goo.gl/1OhxkS</a></p>
                      <small>-  John Doe  23 minutes ago  -</small>
                    </li>
                    <li>
                      <p>Meh synth Schlitz, tempor duis single-origin coffee ea next. <a href="#">http://goo.gl/1OhxkS</a></p>
                      <small>-  John Doe  23 minutes ago  -</small>
                    </li>
                  </ul>
                </div> <!-- end tweet-content -->
              </div>
              <!-- end tweet widget -->

              <!-- Facebook widget -->
              <div class="facebook-widget widget">
                <div class="widget-heading">
                  <h4>Facebook</h4>
                </div>
                <div class="facebook-page">
                  <img src="{% static 'images/facebook.jpg' %}" alt="">
                </div>
              </div>
              <!-- End Facebook widget -->

            </div>
            <!-- end sidebar -->
          </div> <!-- end row -->
        </div> <!-- end container -->
      </div>
    </section>
    <!-- End content-blog -->

    <!-- Bottom page
    ================================================== -->
    <section>
      <div id="bottom-page">
        <div class="container">
          <div class="bottom-content">
            <div class="row">

              <!-- Popular posts (max 3 posts) -->
              <div class="col-sm-6 col-md-4">
                <div id="popular-posts-widget" class="widget wid-pad">
                  <div class="widget-heading">
                    <h4>Popular posts</h4>
                  </div>

                  <ul class="popular-post">

                    <!-- Post -->
                    <li class="clearfix">
                      <div class="side-img">
                        <a href="#" title="Post Title">
                          <img src="{% static 'images/posts-thumbnail/1-150x150.jpg' %}" alt="" class="widget-posts-img">
                        </a>
                      </div> <!-- end side-img -->
                      <div class="side-post-text">
                        <a href="#" title="">Lifestyle</a>
                        <span class="side-post-date">August 4, 2015</span>
                      </div>
                    </li>

                    <!-- Post -->
                    <li class="clearfix">
                      <div class="side-img">
                        <a href="#" title="Post Title">
                          <img src="{% static 'images/posts-thumbnail/2-150x150.jpg' %}" alt="" class="widget-posts-img">
                        </a>
                      </div> <!-- end side-img -->
                      <div class="side-post-text">
                        <a href="#" title="">Summer Salad Recipe</a>
                        <span class="side-post-date">July 28, 2015</span>
                      </div>
                    </li>

                    <!-- Post -->
                    <li class="clearfix">
                      <div class="side-img">
                        <a href="#" title="Post Title">
                          <img src="{% static 'images/posts/7.jpg' %}" alt="" class="widget-posts-img">
                        </a>
                      </div> <!-- end side-img -->
                      <div class="side-post-text">
                        <a href="#" title="">My trip to New York</a>
                        <span class="side-post-date">July 12, 2015</span>
                      </div>
                    </li>

                  </ul>
                </div> <!-- end popular-posts-widget -->
              </div> <!-- end col-sm-4 -->
              <!-- End Popular posts -->


              <!-- Latest works (max 6 works) -->
              <div class="col-sm-6 col-md-4">
                <div id="latest-works" class="widget wid-pad">
                  <div class="widget-heading">
                    <h4>Latest works</h4>
                  </div>
                  <ul class="works-list clearfix">
                    <li>
                      <a href="single-project.html">
                        <img src="{% static 'images/works/1.jpg' %}" alt="">
                        <div class="overlay">
                          <span class="pe-7s-camera"></span>
                        </div> <!-- End overlay -->
                      </a>
                    </li>

                    <li>
                      <a href="single-project-slider.html">
                        <img src="{% static 'images/works/2.jpg' %}" alt="">
                       <div class="overlay">
                            <span class="pe-7s-cash"></span>
                        </div> <!-- End overlay -->
                      </a>
                    </li>

                    <li>
                      <a href="single-project-video.html">
                        <img src="{% static 'images/works/3.jpg' %}" alt="">
                        <div class="overlay">
                            <span class="pe-7s-play"></span>
                        </div> <!-- End overlay -->
                      </a>
                    </li>

                    <li>
                      <a href="single-project-slider.html">
                        <img src="{% static 'images/works/4.jpg' %}" alt="">
                       <div class="overlay">
                            <span class="pe-7s-cash"></span>
                        </div> <!-- End overlay -->
                      </a>
                    </li>

                    <li>
                      <a href="single-project-video.html">
                        <img src="{% static 'images/works/6.jpg' %}" alt="">
                        <div class="overlay">
                            <span class="pe-7s-play"></span>
                        </div> <!-- End overlay -->
                      </a>
                    </li>

                    <li>
                      <a href="single-project.html">
                        <img src="{% static 'images/works/5.jpg' %}" alt="">
                        <div class="overlay">
                            <span class="pe-7s-camera"></span>
                        </div> <!-- End overlay -->
                      </a>
                    </li>
                  </ul>
                </div> <!-- end latest-works -->
              </div> <!-- end col-sm-4 -->
              <!-- End Latest works -->

              <!-- Flickr widget -->
              <div class="col-sm-12 col-md-4">
                <div id="flickr-widget" class="widget wid-pad">

                  <div class="widget-heading">
                    <h4>Flickr</h4>
                  </div> <!-- end widget-heading -->

                  <div class="photo-flickr">
                    <!-- (max 12 pics) -->
                    <ul class="photo-list clearfix">
                      <li><a href="#.html"><img src="{% static 'images/flickr/1.jpg' %}" alt=""></a></li>
                      <li><a href="#.html"><img src="{% static 'images/flickr/2.jpg' %}" alt=""></a></li>
                      <li><a href="#.html"><img src="{% static 'images/flickr/3.jpg' %}" alt=""></a></li>
                      <li><a href="#.html"><img src="{% static 'images/flickr/4.jpg' %}" alt=""></a></li>
                      <li><a href="#.html"><img src="{% static 'images/flickr/6.jpg' %}" alt=""></a></li>
                      <li><a href="#.html"><img src="{% static 'images/flickr/5.jpg' %}" alt=""></a></li>
                      <li><a href="#.html"><img src="{% static 'images/flickr/7.jpg' %}" alt=""></a></li>
                      <li><a href="#.html"><img src="{% static 'images/flickr/8.jpg' %}" alt=""></a></li>
                      <li><a href="#.html"><img src="{% static 'images/flickr/9.jpg' %}" alt=""></a></li>
                    </ul>
                  </div> <!-- End photo-flickr -->

                </div> <!-- end flickr-widget -->
              </div>
              <!-- End Flickr widget -->

            </div> <!-- end row -->
          </div> <!-- end bottom content -->
        </div> <!-- end container -->
      </div>
    </section>
    <!-- End bottom-page -->

  </div> <!-- End wrapper -->

    <!-- Footer
    ================================================== -->
    <footer>
      <div id="footer-section" class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <ul class="footer-social-links">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Tumblr</a></li>
                <li><a href="#">Google+</a></li>
                <li><a href="#">Pinterest</a></li>
              </ul>
              <p class="copyright">
                &copy; 2016 Napoca - Responsive Blog Theme. All rights Reserved
              </p>
            </div> <!-- End col-sm-8 -->
          </div> <!-- End row -->
        </div> <!-- End container -->
      </div> <!-- End footer-section  -->
    </footer>
    <!-- End footer -->

  <!-- Preload the Whole Page -->
  <div id="preloader">
    <div id="loading-animation">&nbsp;</div>
  </div>

  <!-- Back-to-top
  ================================================== -->
  <div class="back-to-top">
    <i class="fa fa-angle-up fa-3x"></i>
  </div> <!-- end back-to-top -->
  <!-- JS libraries and scripts -->
  <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-hover-dropdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
  <script src="{% static 'js/jquery.owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.fitvids.js' %}"></script>
  <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
  <script src="{% static 'js/jquery.imagesloaded.min.js' %}"></script>
  <script src="{% static 'js/jquery.isotope.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.js' %}"></script>
  <script src="{% static 'js/jquery.navbar-scroll.js' %}"></script>
  <script src="{% static 'js/jquery.smoothscroll.js' %}"></script>
  <script src="{% static 'js/jquery.placeholder.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
